<div class="container-fluid">

    <div class="row d-flex align-items-center">

        <div class="col-md-6">

            <div class="row d-flex justify-content-center">

                <div class="col-md-8">

                    <h1 class="text-center">Entrar</h1>

                    <form>

                        <div class="form-group">

                            <label for="">Usuário:</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Seu email" [(ngModel)]="usuarioLogin.email">

                        </div>

                        <div class="form-group">

                            <label for="">Senha:</label>
                            <input type="password" class="form-control" name="senha" id="senha" [(ngModel)]="usuarioLogin.senha">

                        </div>

                        <div class="w-50 mx-auto mt-4 d-flex justify-content-center">

                            <button class="btn btn-success" (click)="login()">Entrar</button>

                        </div>

                    </form>

                    <hr class="mt-5 mb-5">

                    <p class="text-center">Não tem uma conta? <a routerLink="/sign-in">Cadastre-se.</a></p>

                </div>

            </div>

        </div>

        <div class="col-md-6" id="imgBg">

            <!--Background Image-->

        </div>

    </div>

</div>
